@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* #4267B2 */
    /* --blue-color: #82c2ec; */
    --blue-color: #1778F2;
    --white-color: #ffffff;
    --faded-grey: rgba(119, 119, 119, 0.7);
}

body {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}

.content {
    flex: 1 0 auto;
    min-height: 100%;
}

/* Navigation */
#nav-bar {
    background-color: var(--blue-color);
    display: flex;
    line-height: 50px;
    height: 50px;
}



#nav-bar a {
    text-decoration: none;
    color: var(--white-color);

}

#logo {
    margin: auto auto auto 20px;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    font-size: 40px;
}

#nav-bar ul {
    display: flex;
    margin: auto 20px auto auto;
    list-style: none;
}

#nav-bar li {
    margin-left: 20px;
    font-size: 20px;
}

.check-button {
    font-size: 40px;
    color: var(--white-color);
    margin: auto 20px auto auto;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.active {
    border-bottom: 2px double var(--white-color);
}

/* Footer */

footer {
    display: flex;
    background-color: var(--blue-color);

}

.sticky-footer {
    margin-top: 100px;
    width: 100%;
    flex-shrink: 0;
}

#social-icons {
    margin: auto auto auto 20px;

}

#social-icons i {
    margin-right: 20px;
    font-size: 25px;
    line-height: 50px;
}

#social-icons a {
    color: var(--white-color);
}

#copyrights {
    margin: auto 20px auto auto;
    color: var(--white-color);
}

#copyrights p {
    font-size: 20px;
    line-height: 20px;
}

/* Home Page */

#hero-image {
    background-image: url(../images/workshop.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

/* Main content */
header h2 {
    text-align: center;
}

main div {
    display: flex;
}

.section-container {
    width: 90%;
    font-size: 20px;
    background-color: var(--blue-color);
    margin: 50px auto;
    border-radius: 5px;

}

#store-image {

    height: 300px;
    width: 300px;
    min-width: 300px;
    margin: 5px auto 5px 50px;
    border: 5px solid var(--white-color);
    border-radius: 50%;

    /* box-shadow: 
    0px 8px 5px -5px RGBA(0,0,0,.6),
    inset 3px 3px 5px 0px RGBA(0,0,0,.1), 
    inset -3px -3px 5px 0px RGBA(255,255,255,.4); */

}

#store-image img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;

}

#store-text {
    margin: auto 50px;
    display: block;
    text-align: center;

}

#product-image {
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin: 5px 50px 5px auto;
    border: 5px solid var(--white-color);
    border-radius: 50%;

}

#product-image img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#product-text {
    margin: auto 50px;
    display: block;
    text-align: center;
}

#service-image {
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin: 5px auto 5px 50px;
    border: 5px solid var(--white-color);
    border-radius: 50%;
}


#service-image img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#service-text {
    margin: auto 50px;
    display: block;
    text-align: center;
}

/* about us page */

.about-content {
    flex-grow: 1;

    display: flex;
    flex-direction: row;

}

/* .about-title {
    width: 50%;
    margin: auto;
} */

.about-left {
    width: 34%;
}

.about-middle {
    width: 34%;
}

.about-right {
    width: 34%;
}


/* .about-image-container {
    width: 100%;
    height: 33%;
    overflow: hidden;
    position: relative;
} */


#left-image {
    width: 100%;
    height: 100%;

}

#middle-image {
    width: 100%;
    height: 100%;


}

#right-image {
    width: 100%;

}

.about-text {
    display: block;
    text-align: center;
    padding: 20px;
}


/* gallery */

.grid-container {
    display: grid;
    width: 95%;
    height: 100%;
    gap: 5px 5px;
    margin: auto;


    justify-content: center;
    justify-items: center;
    /* align-items: center; */

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto 400px;

    grid-template-areas:
        "grid-item-1 grid-item-3 grid-item-4"
        "grid-item-2 grid-item-3 grid-item-4"
        "grid-item-5 grid-item-6 grid-item-7"
        "grid-item-5 grid-item-6 grid-item-8"
        "grid-item-9 grid-item-9 grid-item-9";
}

.gallery-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-div {
    width: auto;
    height: auto;
    overflow: hidden;

}

.grid-item-1 {
    grid-area: grid-item-1;
}

.grid-item-2 {
    grid-area: grid-item-2;
}

.grid-item-3 {
    grid-area: grid-item-3;
}

.grid-item-4 {
    grid-area: grid-item-4;
}

.grid-item-5 {
    grid-area: grid-item-5;
}

.grid-item-6 {
    grid-area: grid-item-6;
}

.grid-item-7 {
    grid-area: grid-item-7;
}

.grid-item-8 {
    grid-area: grid-item-8;
}

.grid-item-9 {
    grid-area: grid-item-9;
    height: 400px;
    margin-top: 20px;
}

.workshop-video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}


/* faq page */

.faq-content {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#hero-image-faq {
    background-image: url(../images/faq-questions-14.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.faq-div {
    background-color: var(--blue-color);
    width: 80%;
    height: auto;
    justify-content: center;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
}

.faq-div>details {
    width: 100%;
    /* height: 100%; */
}

.faq-div>details>summary {
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--white-color);
    padding: 5px;
    height: 30px;

}

.faq-div>details p {
    text-align: center;
    padding: 20px;
    color: var(--white-color);
}

.faq-left {
    width: 34%;

}

.faq-middle {
    width: 34%;

}

.faq-right {
    width: 34%;

}





/* Media Queries */

@media (max-width:900px) {

    /* Menu bar */
    .check-button {
        display: flex;
        margin: auto 20px auto auto;
    }

    #nav-bar ul {
        display: block;
        position: fixed;
        background-color: var(--blue-color);
        margin: 0;
        width: 100%;
        height: 100vh;
        top: 50px;
        left: -100%;
        transition: all 1sec;
        text-align: center;
    }

    #check:checked~ul {
        left: 0;
    }

    /* Main content - Home Page */

    .section-container {
        flex-direction: column;
        margin: 50px auto;
    }

    .inverted {
        flex-direction: column-reverse;
    }





    #store-image,
    #product-image,
    #service-image {
        margin: 20px auto;
        width: 80vw;
        height: auto;
        min-width: 200px;
    }
}