@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
}

/* main colors variables */
:root {
    --blue-color: #0A56B2;
    --white-color: #ffffff;
    --faded-grey: rgba(119, 119, 119, 0.7);
}

/* body style */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* flex content to fill the page height */
.content {
    flex: 1 0 auto;
    min-height: 100%;
}

/* box shadows */
.shadow {
    box-shadow: 3px 3px 4px black;
}

/* navigation bar */
#nav-bar {
    background-color: var(--blue-color);
    display: flex;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}

#nav-bar a {
    text-decoration: none;
    color: var(--white-color);
}

/* navigation bar elements hover style */
#nav-bar a:hover {
    font-size: 110%;
    transition: 0.5s;
}

#nav-bar ul li a:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
    border-radius: 2px;
    transition: 0.5s;
}

/* navigation bar main logo */
#logo {
    margin: auto auto auto 20px;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    font-size: 40px;
}

/* navigation bar menu style */
#nav-bar ul {
    display: flex;
    margin: auto 20px auto auto;
    list-style: none;
}

#nav-bar li {
    margin-left: 20px;
    font-size: 20px;
}

#nav-bar label {
    color: var(--blue-color);
}

#nav-bar>label>i {
    color: var(--white-color);
}

/* bars menu style button (tablets and mobile)*/
.check-button {
    content: "";
    font-size: 40px;
    color: var(--white-color);
    margin: auto 20px auto auto;
    cursor: pointer;
    display: none;
}

/* check input button hidden from screen (all screens) */
#check {
    display: none;
}

/* active status on the menu list  */
.active {
    border-bottom: 2px solid var(--white-color);
}

/* Footer style */

footer {
    display: flex;
    background-color: var(--blue-color);
    box-shadow: 0px -3px 4px black;

}

/* makes footer sticky to the bottom of page */
.sticky-footer {
    margin-top: 100px;
    width: 100%;
    flex-shrink: 0;
}

/* social media icons at footer */
#social-icons {
    margin: auto auto auto 20px;
}

#social-icons i {
    margin-right: 20px;
    font-size: 25px;
    line-height: 50px;
}

#social-icons a {
    color: var(--white-color);
}

/* social icons hover animation */
#social-icons i:hover {
    font-size: 30px;
    transition: 0.5s;
}

/* copyright style at footer */
#copyrights {
    margin: auto 20px auto auto;
    color: var(--white-color);
}

#copyrights p {
    font-size: 20px;
    line-height: 20px;
}

/* general styles */

h2 {
    text-decoration: underline;
    text-underline-offset: 2px;
}

header {
    margin-top: 50px;
}

/* bold class */
.bold {
    font-weight: 700;
}

/* home page */
#hero-image {
    background-image: url(../images/home-workshop.webp);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

header h2 {
    text-align: center;
}

article div {
    display: flex;
}

form div {
    display: flex;
}


/* home page section style */
.home-section-container {
    width: 90%;
    font-size: 20px;
    background-color: var(--blue-color);
    margin: 50px auto;
    border-radius: 5px;
    color: var(--white-color);
}

/* home image container sticky to the left */
.home-left {
    margin: 10px auto;
    overflow: hidden;
}

/* home image container sticky to the right */
.home-right {
    margin: 10px auto;
    overflow: hidden;
}

/* home image container style */
.home-image-container {
    height: 300px;
    width: 300px;
    min-width: 300px;
    min-height: 300px;
    border: 5px solid var(--white-color);
    border-radius: 50%;
}

/* home image style */
.home-image-container img {
    height: 100%;
    width: 100%;
    min-height: 300px;
    border-radius: inherit;
    overflow: hidden;
    object-fit: cover;
}

/* home page text container */
.home-text-container {
    width: 60%;
    padding: 10px;
    margin: auto auto;
    display: block;
    text-align: center;
}

/* about us page */

.about-content {
    flex-grow: 1;

    display: flex;
}

/* split about-content in 3 parts */
.about-left {
    width: 34%;
    height: fit-content;
}

.about-middle {
    width: 34%;
    height: fit-content;
}

.about-right {
    width: 34%;
    height: fit-content;
}

/*container limiting the height of the image */
.about-image-container {
    width: 100%;
    max-height: 50%;
    overflow: hidden;
}

/* makes images cover the full width of the container */
#left-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#middle-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#right-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* about page text style */
.about-text {
    display: block;
    /* text-align: center; */
    padding: 20px;
    height: 50%;
    overflow: hidden;
}

.about-text>h2 {
    text-align: center;
}

.about-text p {
    height: fit-content;
    overflow: hidden;
    padding: 1.5rem;
}


/* gallery */

.grid-container {
    /* grid container including gap */
    display: grid;
    width: 95%;
    height: 100%;
    gap: 10px 10px;
    margin: auto;

    /* center items and containers at the grid */
    justify-content: center;
    justify-items: center;

    /* grid layout */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto 400px;

    grid-template-areas:
        "grid-item-1 grid-item-3 grid-item-4"
        "grid-item-2 grid-item-3 grid-item-4"
        "grid-item-5 grid-item-6 grid-item-7"
        "grid-item-5 grid-item-6 grid-item-8"
        "grid-item-9 grid-item-9 grid-item-9";
}

/* makes images cover the full width of the containers */
.gallery-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-div {
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

/* grid items areas */
.grid-item-1 {
    grid-area: grid-item-1;
}

.grid-item-2 {
    grid-area: grid-item-2;
}

.grid-item-3 {
    grid-area: grid-item-3;
}

.grid-item-4 {
    grid-area: grid-item-4;
}

.grid-item-5 {
    grid-area: grid-item-5;
}

.grid-item-6 {
    grid-area: grid-item-6;
}

.grid-item-7 {
    grid-area: grid-item-7;
}

.grid-item-8 {
    grid-area: grid-item-8;
}

.grid-item-9 {
    grid-area: grid-item-9;
    height: 400px;
    margin-top: 20px;
}

/* gallery video container */
.workshop-video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}


/* faq page */

.faq-content {
    flex-grow: 1;

    display: flex;
}

/* style sections to take 1/3 of page */
.faq-left {
    width: 34%;
}

.faq-middle {
    width: 34%;
}

.faq-right {
    width: 34%;
}

/* style anchors and add pointer to cursor */
.faq-content a {
    color: var(--white-color);
    cursor: pointer;
}

/* hero image styling */
#hero-image-faq {
    background-image: url(../images/faq-questions-14.webp);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

/* style faq containers */
.faq-div {
    background-color: var(--blue-color);
    width: 80%;
    height: auto;
    justify-content: center;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
}

/* style details element to fit height */
.faq-div>details {
    width: 100%;
    height: fit-content;
}

/* style summary element */
.faq-div>details>summary {
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--white-color);
    padding: 5px;
    height: fit-content;

}

/* style question paragraph */
.faq-div>details p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: var(--white-color);
}


/* contact page */

/* main container */
.contact-main {
    width: 100%;
    height: 80%;
    margin: auto;
}

/* form and map container */
.contact-sidebyside {
    display: flex;
    width: 99.8%;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

/* form takes half of main container */
.contact-form {
    width: 45%;
    height: 80%;
}

/* style form fieldset */
.contact-form fieldset {
    width: 100%;
    height: 750px;
    display: inline-block;
    border-radius: 5px;
}

/* style form title */
.contact-form-title {
    text-align: center;
}

/* style the width of labels */
form label {
    width: 30%;
    font-weight: bold;
}

/* style the width of inputs */
form input {
    width: 70%;
    border-radius: 5px;
}

/* style form reason container */
.contact-reason-container {
    flex-direction: column;
    width: 100%;
}

/* style form reason label  */
.reason {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

form div {
    padding: 10px;
}

/* text area container styling */
.text-area-container {
    flex-direction: column;
    margin-top: 20px;
}

/* text area styling */
textarea {
    border-radius: 5px;
    color: var(--blue-color);
    font-family: 'Ubuntu', sans-serif;
}

/* clear button styling */
.reset {
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.reset button {
    width: 50%;
    height: 100%;
    font-size: large;
    color: var(--blue-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* submit button styling */
.submit {
    justify-content: center;
    width: 100%;
    height: 100px;
    margin: 20px 0;
}

.submit button {
    width: 100%;
    height: 100%;
    font-size: large;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

/* map takes half of main container */
.contact-map {
    width: 45%;
    height: 80%;
    min-height: 750px;
    max-width: 45%;
    overflow: hidden;
    border-radius: 5px;

}

/* style map fieldset */
.contact-map fieldset {
    width: 100%;
    height: 750px;
    padding: 0;
    border-radius: 5px;
}

/* map style from google maps */
.mapouter {
    text-align: right;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;

}

#gmap_canvas {
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 1px;
}

/* information container */
.contact-info {
    display: flex;
    width: 95%;
    height: 300px;
    margin: auto;
}

.contact-info-container {
    display: flex;
}

/* style information fieldset */
.contact-info fieldset {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* style address section to take half of information container */
.contact-address {
    display: block;
    height: 50%;
    margin: auto auto auto 20px;
}

/* style anchors on information */
.contact-address a {
    color: var(--blue-color);
    text-decoration: none;
}

/* style times section to take half of information container */
.contact-times {
    display: block;
    width: 50%;
    height: 100%;
    text-align: center;
}

/* style times table */
.contact-times table {
    width: 90%;
    margin: auto 20px auto auto;

}

/* style time table content */
.contact-times td,
th {
    border: 1px solid black;
    border-radius: 5px;
}

.contact-times td {
    text-align: center;
}


/* 404 page */

/* background image */
#page-not-found-image {
    background-image: url(../images/404-image.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -99;
}

/* 404 message div */
.page-not-found-image-div {
    position: relative;
    display: block;
    margin: auto;
    height: 200px;
    padding: 40px;
    text-align: center;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 5px;
}

/* 404 text */
.page-not-found-image-div p,
h1 {
    margin: 20px;
}

/* remove margin top from footer */
#no-margin {
    margin-top: 0;
}


/* media Queries */

/* media for tablets screens */
@media (max-width:900px) {

    /* nav bar */
    .check-button {
        display: flex;
        margin: auto 20px auto auto;
    }

    #nav-bar {
        position: fixed;
        width: 100%;
        box-shadow: 3px 3px 4px black;
    }

    h2 {
        margin-top: 60px;
    }

    #nav-bar ul {
        display: block;
        position: fixed;
        background-color: var(--blue-color);
        margin: 0;
        width: 100%;
        height: 100vh;
        top: 50px;
        left: -100%;
        transition: all 1s;
        text-align: center;
        padding: 0;
    }

    #nav-bar li {
        margin: auto;
    }

    #check:checked~ul {
        left: 0;
    }

    /* home page */
    .home-section-container {

        margin: 50px 5px;
        width: 98%;
    }

    .home-image-container {
        margin: auto 20px auto 20px;
        width: 30%;
        height: 30%;
        min-width: 30%;
        justify-content: center;
        align-items: center;
    }

    /* about page */
    .about-text {
        padding: 5px;
    }

    /* gallery */
    .grid-container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto 400px;

        grid-template-areas:
            "grid-item-1 grid-item-2"
            "grid-item-3 grid-item-3"
            "grid-item-4 grid-item-4"
            "grid-item-5 grid-item-5"
            "grid-item-6 grid-item-6"
            "grid-item-7 grid-item-8"
            "grid-item-9 grid-item-9";

    }

    /* faq */
    .faq-div {
        width: 95%;
    }

    .faq-left {
        width: 33%;
    }

    .faq-middle {
        width: 33%;
    }

    .faq-right {
        width: 33%;
    }

    /* contact */
    .contact-sidebyside {
        margin: 5px auto 5px auto;
    }

    .contact-form {
        width: 49%;
    }

    form div {
        flex-direction: column;
    }

    form label {
        width: 100%;
    }

    form input {
        width: 100%;
    }

    .reset {
        margin: 5px 0;
    }

    .submit {
        margin: 5px 0;
    }

    .contact-map {
        width: 49%;
    }

    .contact-info {
        margin: auto 5px auto 5px;
        padding: 0;
        width: 99%;
    }
}

/* Media for mobile phone screens */
@media (max-width:570px) {

    /* nav bar */
    .check-button {
        margin: auto 5px auto auto;
    }

    /* footer */
    #social-icons i {
        margin-right: 10px;
        font-size: 20px;
        line-height: 50px;
    }

    #copyrights {
        margin: auto 5px auto auto;
    }

    #copyrights p {
        font-size: 10px;
        line-height: 16px;
    }

    /* Home Page */
    .home-section-container {
        flex-direction: column;
        margin: 50px auto;
    }

    .inverted {
        flex-direction: column-reverse;
    }

    .home-image-container {
        margin: 10px auto;
        width: 80vw;
        height: 80vw;
        min-width: 200px;
        min-height: 200px;
    }

    /* about page */
    .about-content {
        flex-direction: column;
    }

    .about-left,
    .about-middle,
    .about-right {
        width: 100%;
    }

    .about-text {
        text-align: unset;
        padding: 0.5rem;
    }

    /* gallery */
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto 400px;

        grid-template-areas:
            "grid-item-1"
            "grid-item-2"
            "grid-item-3"
            "grid-item-4"
            "grid-item-5"
            "grid-item-6"
            "grid-item-7"
            "grid-item-8"
            "grid-item-9";
    }

    /* faq */
    #hero-image-faq {
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        margin-top: 40px;
    }

    .faq-content {
        flex-direction: column;
    }

    .faq-div {
        width: 95%;
        margin-bottom: 0;
    }

    .faq-left {
        width: 100%;
    }

    .faq-middle {
        width: 100%;
    }

    .faq-right {
        width: 100%;
    }

    /* contact */
    .contact-sidebyside {
        flex-direction: column;
    }

    .contact-form {
        width: 95%;
        margin: auto auto 20px auto;
    }

    .reset {
        width: auto;
        height: auto;
    }

    .submit {
        width: auto;
        height: auto;
    }

    .contact-map {
        width: 95%;
        min-width: 95%;
        margin: auto auto 20px auto;
    }

    .contact-info {
        width: 95%;
        height: fit-content;
        margin: auto;
    }

    .contact-info-container {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin: 0;
    }

    .contact-address {
        width: 100%;
        margin: auto auto 20px auto;
    }

    .contact-times {
        width: 100%;
        margin: auto;
    }

    .contact-times table {
        margin: 0;
        width: 100%;
    }
}

@media (max-width:400px) {

    /* about page */
    .about-text {
        padding: 0;
    }

}