@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    /* #4267B2 */
    /* --blue-color: #82c2ec; */
    /* --blue-color: #1778F2; */
    --blue-color: #0A56B2;
    --white-color: #ffffff;
    --faded-grey: rgba(119, 119, 119, 0.7);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

}

.content {
    flex: 1 0 auto;
    min-height: 100%;
}

/* Box shadows */

.shadow {
    box-shadow: 3px 3px 4px black;
}

/* nav abr */
#nav-bar {
    background-color: var(--blue-color);
    display: flex;
    line-height: 50px;
    height: 50px;
}



#nav-bar a {
    text-decoration: none;
    color: var(--white-color);

}

#nav-bar a:hover {
    font-size: 110%;
    transition: 0.5s;
}

#nav-bar ul li a:hover {
    background-color: var(--white-color);
    color: var(--blue-color);
    border-radius: 2px;
    transition: 0.5s;
}



#logo {
    margin: auto auto auto 20px;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    font-size: 40px;
}

#nav-bar ul {
    display: flex;
    margin: auto 20px auto auto;
    list-style: none;
}

#nav-bar li {
    margin-left: 20px;
    font-size: 20px;
}

.check-button {
    font-size: 40px;
    color: var(--white-color);
    margin: auto 20px auto auto;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.active {
    border-bottom: 2px solid var(--white-color);
}

/* Footer */

footer {
    display: flex;
    background-color: var(--blue-color);
    box-shadow: 0px -3px 4px black;

}

.sticky-footer {
    margin-top: 100px;
    width: 100%;
    flex-shrink: 0;
}

#social-icons {
    margin: auto auto auto 20px;
}

#social-icons i {
    margin-right: 20px;
    font-size: 25px;
    line-height: 50px;
}

#social-icons i:hover {
    font-size: 30px;
    transition: 0.5s;
}

#social-icons a {
    color: var(--white-color);
}

#copyrights {
    margin: auto 20px auto auto;
    color: var(--white-color);
}

#copyrights p {
    font-size: 20px;
    line-height: 20px;
}

/* General */

h2 {
    text-decoration: underline;
    text-underline-offset: 2px;
}

header {
    margin-top: 50px;
}

/* Home Page */

#hero-image {
    background-image: url(../images/workshop.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

/* Main content */
header h2 {
    text-align: center;
}

main div {
    display: flex;
}

.section-container {
    width: 90%;
    font-size: 20px;
    background-color: var(--blue-color);
    margin: 50px auto;
    border-radius: 5px;
    color: var(--white-color);

}

#store-image {

    height: 300px;
    width: 300px;
    min-width: 300px;
    margin: 5px auto 5px 50px;
    border: 5px solid var(--white-color);
    border-radius: 50%;

    /* box-shadow: 
    0px 8px 5px -5px RGBA(0,0,0,.6),
    inset 3px 3px 5px 0px RGBA(0,0,0,.1), 
    inset -3px -3px 5px 0px RGBA(255,255,255,.4); */

}

#store-image img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;

}

#store-text {
    margin: auto 50px;
    display: block;
    text-align: center;

}

#product-image {
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin: 5px 50px 5px auto;
    border: 5px solid var(--white-color);
    border-radius: 50%;

}

#product-image img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#product-text {
    margin: auto 50px;
    display: block;
    text-align: center;
}

#service-image {
    height: 300px;
    width: 300px;
    min-width: 300px;
    margin: 5px auto 5px 50px;
    border: 5px solid var(--white-color);
    border-radius: 50%;
}


#service-image img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
}

#service-text {
    margin: auto 50px;
    display: block;
    text-align: center;
}

/* about us page */

.about-content {
    flex-grow: 1;

    display: flex;
    flex-direction: row;

}

/* .about-title {
    width: 50%;
    margin: auto;
} */

.about-left {
    width: 34%;
}

.about-middle {
    width: 34%;
}

.about-right {
    width: 34%;
}


.about-image-container {
    width: 100%;
    max-height: 50%;


    overflow: hidden;

}


#left-image {
    width: 100%;
    object-fit: cover;


}

#middle-image {
    width: 100%;
    object-fit: cover;



}

#right-image {
    width: 100%;
    object-fit: cover;


}

.about-text {
    display: block;
    text-align: center;
    padding: 20px;
    height: 50%;
    overflow: hidden;
}

.about-text p {
    height: fit-content;
}


/* gallery */

.grid-container {
    display: grid;
    width: 95%;
    height: 100%;
    gap: 5px 5px;
    margin: auto;


    justify-content: center;
    justify-items: center;
    /* align-items: center; */

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto 400px;

    grid-template-areas:
        "grid-item-1 grid-item-3 grid-item-4"
        "grid-item-2 grid-item-3 grid-item-4"
        "grid-item-5 grid-item-6 grid-item-7"
        "grid-item-5 grid-item-6 grid-item-8"
        "grid-item-9 grid-item-9 grid-item-9";
}

.gallery-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-div {
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 5px;

}

.grid-item-1 {
    grid-area: grid-item-1;
}

.grid-item-2 {
    grid-area: grid-item-2;
}

.grid-item-3 {
    grid-area: grid-item-3;
}

.grid-item-4 {
    grid-area: grid-item-4;
}

.grid-item-5 {
    grid-area: grid-item-5;
}

.grid-item-6 {
    grid-area: grid-item-6;
}

.grid-item-7 {
    grid-area: grid-item-7;
}

.grid-item-8 {
    grid-area: grid-item-8;
}

.grid-item-9 {
    grid-area: grid-item-9;
    height: 400px;
    margin-top: 20px;
}

.workshop-video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}


/* faq page */

.faq-content {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#hero-image-faq {
    background-image: url(../images/faq-questions-14.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.faq-div {
    background-color: var(--blue-color);
    width: 80%;
    height: auto;
    justify-content: center;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
}

.faq-div>details {
    width: 100%;
    /* height: 100%; */
}

.faq-div>details>summary {
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--white-color);
    padding: 5px;
    height: 30px;

}

.faq-div>details p {
    text-align: center;
    padding: 20px;
    color: var(--white-color);
}

.faq-left {
    width: 34%;

}

.faq-middle {
    width: 34%;

}

.faq-right {
    width: 34%;

}

/* contact page */

.contact-main {
    width: 100%;
    height: 80%;
    margin: auto;
}

.sidebyside {
    display: flex;
    width: 99.8%;
    justify-content: space-around;
    margin: 20px 0 20px 0;

}

.contact-form {
    width: 45%;
    height: 80%;
}

.contact-form fieldset {
    width: 100%;
    height: 725px;
    display: inline-block;
    border-radius: 5px;

}

.contact-form-title {
    text-align: center;
}

form label {
    width: 15%;
    font-weight: bold;
}

form input {
    width: 80%;
    border-radius: 5px;
}

.reason {
    width: 20%;
    border-radius: 5px;
}

form div {
    padding: 20px;
}


.text-area {
    flex-direction: column;
}

textarea {
    border-radius: 5px;
}

.reset {
    justify-content: center;
    width: 100%;
    height: auto;
}

.reset button {
    width: 50%;
    height: 100%;
    font-size: large;
    background-color: var();
    color: var(--blue-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.submit {
    justify-content: center;
    width: 100%;
    height: 100px;
}

.submit button {
    width: 100%;
    height: 100%;
    font-size: large;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.contact-map {
    width: 45%;
    height: 80%;

}

.contact-map fieldset {
    width: 100%;
    height: 725px;
    padding: 0;
    border-radius: 5px;
}


.mapouter {
    /* position: relative; */
    text-align: right;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}


.contact-info {
    display: flex;
    width: 95%;
    height: 300px;
    margin: auto;
}

.contact-info fieldset {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.contact-info-container {
    display: flex;
    width: 100%;

    /* margin: 10px auto 10px auto; */

}


.contact-address {
    display: block;
    height: 50%;
    margin: auto auto auto 20px;
}

.contact-address a {
    color: var(--blue-color);
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

.contact-times {
    display: block;
    width: 50%;
    height: 100%;
    text-align: center;
}

.contact-times table {
    width: 90%;
    margin: auto 20px auto auto;

}


.contact-times td,
th {
    border: 1px solid black;
    border-radius: 5px;
}

.contact-times td {
    text-align: center;
}



/* Media Queries */

/* Media for tablets screens */

@media (max-width:900px) {

    /* nav bar */
    .check-button {
        display: flex;
        margin: auto 20px auto auto;
    }

    #nav-bar ul {
        display: block;
        position: fixed;
        background-color: var(--blue-color);
        margin: 0;
        width: 100%;
        height: 100vh;
        top: 50px;
        left: -100%;
        transition: all 1sec;
        text-align: center;
    }

    #check:checked~ul {
        left: 0;
    }

    /* home page */


    .section-container {
        /* flex-direction: column; */
        margin: 50px auto;
    }

    #store-image,
    #product-image,
    #service-image {
        margin: 10px 20px 10px 20px;
        width: 300px;
        height: auto;
        min-width: 300px;
    }

    #store-image img,
    #product-image img,
    #service-image img {
        object-fit: cover;
    }




}

/* Media for mobile phone screens */
@media (max-width:570px) {

    /* nav bar */

    .check-button {
        margin: auto 5px auto auto;
    }

    /* Home Page */

    .section-container {
        flex-direction: column;
        margin: 50px auto;
    }

    .inverted {
        flex-direction: column-reverse;
    }

    #store-image,
    #product-image,
    #service-image {
        margin: 10px auto;
        width: 80vw;
        height: auto;
        min-width: 200px;
    }
}